@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrer";
}

<div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-4">
        <h3 class="p-1">Registrer ny bruker</h3>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                E-post
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" />
                Fornavn
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.LastName" class="form-control" aria-required="true" />
                Etternavn
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                Passord
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                Bekreft passord
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrer</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
