@{
    ViewData["Title"] = "Assignments";
}

<br/>
<table class="table table-light">
    <thead>
    <tr>
        <th>Kunde</th>
        <th>Oppdrag</th>
        <th>Frist</th>
        <th>Status</th>
        <th>Utvikler</th>
        <th></th>
    </tr>
    <thead>

    <tbody>
        <tr>
            <td>Kunde Navn</td>
            <td>Designjobb</td>
            <td>30.11.2022</td>
            <td><span class="badge bg-success">Utført</span></td>
            <td>Utvikler navn</td>
            <td>
                <a href="">
                    <span class="badge badge-pill bg-secondary"><i class="fa fa-info"></i></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Kunde Navn</td>
            <td>Databasemodell</td>
            <td>15.12.2022</td>
            <td><span class="badge bg-info">Under arbeid</span></td>
            <td>Utvikler navn</td>
            <td>
                <a href="">
                    <span class="badge badge-pill bg-secondary"><i class="fa fa-info"></i></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Kunde Navn</td>
            <td>Tur applikasjon</td>
            <td>31.08.2023</td>
            <td><span class="badge bg-danger">Ikke startet</span></td>
            <td>Ikke tildelt</td>
            <td>
                <a href="">
                    <span class="badge badge-pill bg-secondary"><i class="fa fa-info"></i></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>