@model dynamic

@{
    ViewBag.Title = "assignments";
}

<h5>Velg oppdrag</h5>

<div class="table-container">
    <table class="table">

        <thead>
            <tr>
                <td>Tittel</td>
                <td>Status</td>
                @*<td>Frist</td>*@
            </tr>
        </thead>

    </table>
</div>