@model dynamic

@{
    ViewBag.Title = "developers";
}

<h5>Velg oppdrag</h5>

<div class="table-container">
    <table class="table">

        <thead>
            <tr>
                <td>Fornavn</td>
                <td>Etternavn</td>
                <td>Gjennomsnittlig vurdering</td>
            </tr>
        </thead>

    </table>
</div>