@model dynamic

@{
    ViewBag.Title = "Om Hin-Ventures";
}


<h5>Om Hin-Ventures</h5>

<img src="/images/om hin-ventures.jpg" width="300px" height="250px" alt="om hin ventures" />


<p>
    Hin ventures er webutviklingsfirma med 10 ansatte. Vi tar på oss oppdrag fra små
    og store aktører i inn- og utland. Vi har både junior- og seniorutviklere med ulik kompetanse.
    På våre sider kan du finne utvikler basert på kompetansen du etterspør og du kan
    kommunisere med utvikler med vår chat-løsning. Du får en oversikt over dine oppdrag
    med fremdrift og betalinger på din side.

</p>