@using HIN_Ventures.Models.Entities
@model HIN_Ventures.Models.Entities.Freelancer


<h5>Min konto og vurdering</h5>



<table class="table table-light">

    <thead>

    <th>Spesialfelt:</th>

    </thead>

    <tbody>

        @if (Model != null){
        if (Model.Specialities.Count > 0){
        foreach (var spec in Model.Specialities)
        {
            <tr>
                <td>@spec.SpecialityName</td>
            </tr>
        }
        }
        }

    </tbody>

</table>

<form method="post">
    <select name="spec">

        <option value="1">Webapplikasjoner</option>
        <option value="2">C#</option>
        <option value="3">HTML</option>
        <option value="4">CSS</option>
        <option value="5">JavaScript</option>
        <option value="6">Typescript</option>
        <option value="7">Java</option>
        <option value="8">C++</option>
        <option value="9">Azure</option>
        <option value="10">ASP.NET</option>
        <option value="11">MVC</option>
        <option value="12">Blazor</option>
        <option value="13">Python</option>
        <option value="14">Android</option>
        <option value="15">XML</option>
        <option value="16">Ruby</option>
        <option value="17">Matlab</option>
        <option value="18">Kotlin</option>
        <option value="19">C</option>
        <option value="20">SQL</option>
        <option value="21">Room</option>
        <option value="22">Database</option>
        <option value="23">PHP</option>
        <option value="24">AI</option>
        <option value="25">Systemutvikling</option>
        <option value="26">Apputvikling</option>
        <option value="27">Systemarkitektur</option>
        <option value="28">Datasikkerhet</option>



    </select>
    <button type="submit">
        
        Legg til
    </button>

</form>

<h5>Vurderinger</h5>
<table class="table table-light">

    <thead>

    <th>Kunde:</th>
    <th>Oppdrag:</th>
    <th>Vurdering:</th>
    <th>Kommentar:</th>

    </thead>


    <tbody>
        <tr>
            <td>Kunde 1</td>
            <td>Designjobb</td>
            <td>5</td>
            <td>Gjorde en svært god jobb</td>

        </tr>
    </tbody>


</table>

