@model dynamic


<h5>Betalinger:</h5>

<div class="table-container">
    <table class="table">

        <thead>
        <th>Kunde</th>
        <th>Dato</th>
        <th>Oppdrag</th>
        <th>Beløp (Bitcoins)</th>
        </thead>

        <tbody>
            <tr>
                <td>Kunde1</td>
                <td>11.11.2022</td>
                <td>Laget design for ny nettside</td>
                <td>30000</td>
            </tr>
        </tbody>

    </table>
</div>